:root {
    --verde-claro: #97dfdf;
    --azul-ciano: #009fd0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    background-color: var(--verde-claro);
    font-family: Courier, monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#musicSettings {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 50rem;
    margin: auto;
    justify-content: center;
    background-color: var(--azul-ciano);
}

#topHead {
    margin: 0 0 1rem;
}

main .title {
    color: #fff;
    padding: 3rem 0;
    text-transform: uppercase;
    font-family: arial;
    font-size: 3.6rem;
    font-weight: 900;
}

/* section {
    
} */

.tagDif {
    color: #FFF;
}

.select-level {
    display: inline-block;
    margin: 0 auto;
}

.select-level input {
    display: none;
}

.select-level label {
    display: block;
    width: 20rem;
    background: #FFF;
    margin: 1.5rem auto;
    padding: .3rem 1rem;
    border-radius: .3rem;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms;
}

.select-level input:checked + label {
    width: 22rem;
    color: #fff ;
    background: crimson;
    font-size: 2.2rem;
    font-weight: bolder;
}