:root {
    --verde-claro: #97dfdf;
    --azul-ciano: #009fd0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    background-color: var(--verde-claro);
    font-family: Courier, monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 50rem;
    margin: auto;
    justify-content: center;
    background-color: var(--azul-ciano);
}

main h1 {
    color: #fff;
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-family: arial;
    font-size: 3.6rem;
    font-weight: 900;
}

#musicSettings {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bolder;
}

